@import "tailwind";

/* shared style */

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn{
  padding: 19px 85px;
  background-color: #E95A08;
  color: white;
}

header, main{
margin: 30px 150px;
}

.text-ornge{
  color:#E95A08
}
/* nav bar style  */
nav ul li{
  list-style: none;
}

.nav-bar{
  display: flex;
  gap: 30px;
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content{
  width: 570px;
}

/* our plants section */
.sec2-subtitle{
  display: inline-block;
  justify-content: center;
  /* i couldnt do it with tailwind, so did it with css */
}

/* media query for iphone 14 pro max (430*932)  */
@media screen and (width:430px) {
  header, main, .card-sec{
margin: 10px 20px auto 20px;
}
.hero{
  flex-direction: column-reverse;
 
}

 .home, .shop, .about{
  display: none;
 }
 .cart{
  margin-right: 10px;
 }
 /* media query hero- banner (mqh) */
 .mqh{
  width: 100%;
  
 }
 .hero-title{
  font-size: 24px ;
  margin-top: 30px;
  width: 360px;
 }
 .hero-subtitle{
  font-size: 14px;
  margin-top: 10px;
  max-width: 360px;
 }
 .hero-content{
width: 430px;
 }

 /* mob-res means mobile responsive, cant make fully resposnive with tailwind yet */

 .sectwo-title{
  font-size: 30px;
  width: auto;
}
.sec2-subtitle{
  font-size: 14px;
}

 .mob-res{
width: 430px;
}
.card-container{
  display: grid;
 grid-template-columns: repeat(2,2fr);
 width: auto;
 gap: 5px;
}

.cards{
  width: 171px;
}
.btn{
 width: 171px;
 height: 50px;
  background-color: #E95A08;
  color: white;
  margin: auto;
  padding: 0 0;
}
}

